/* .bg{
  background-image: url('bg-02.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */
span{
  font-size: 25px;
}
image{
  width: 100px;
  height: 50px;;
}
table tbody tr:focus
{
  background-color: red !important;
  color:red;
}