*{
    font-family:sans-serif;
}
.navbar{
  border-radius: 0px;
  margin-bottom:0px!important;
}
.nav1{
    background-color: #222!important;
    border-radius: none!important;
}

  .container-fluid{
      background-color: #fff;
      border-radius:15px;
  }
  .btn-default{
    position: relative;
      margin-bottom:20px;
      border:none;
      color:white;
      background: rgb(0,180,32,0.8);
      background: linear-gradient(45deg, rgba(0,180,32,0.8) 0%, rgba(13,157,41,0.8) 0%, rgba(69,167,255,0.8) 100%);
      background: -webkit-linear-gradient(45deg, rgba(0,180,32,0.8) 0%, rgba(13,157,41,0.8) 0%, rgba(69,167,255,0.8) 100%);
      background: -o-linear-gradient(45deg, rgba(0,180,32,0.8) 0%, rgba(13,157,41,0.8) 0%, rgba(69,167,255,0.8) 100%);
      background: -moz-linear-gradient(45deg, rgba(0,180,32,0.8) 0%, rgba(13,157,41,0.8) 0%, rgba(69,167,255,0.8) 100%);
      background: linear-gradient(45deg, rgba(0,180,32,0.8) 0%, rgba(13,157,41,0.8) 0%, rgba(69,167,255,0.8) 100%);
      z-index: 1;
  }
  .btn-default::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: white;
        background: rgb(0,180,32,0.8);
        background: linear-gradient(45deg, rgba(69,167,255,0.8) 0%, rgba(0,180,32,0.8) 100%);
        background: -webkit-linear-gradient(45deg, rgba(69,167,255,0.8) 0%, rgba(0,180,32,0.8) 100%);
        background: -o-linear-gradient(45deg, rgba(69,167,255,0.8) 0%, rgba(0,180,32,0.8) 100%);
        background: -moz-linear-gradient(45deg, rgba(69,167,255,0.8) 0%, rgba(0,180,32,0.8) 100%);
        background: linear-gradient(45deg, rgba(69,167,255,0.8) 0%, rgba(0,180,32,0.8) 100%);
        z-index: -1;
        transition: opacity 600ms linear;
        opacity: 0;
        border-radius: 4px;
      }
  .btn-default:hover::before{
      opacity: 1;
      color: white;
  }
  .btn-default:hover{
    color: white;
    border-radius: 4px;
  }
